.wave-background {
    background-image:
                      url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150"%3E%3Cpath fill="%234A40D9" d="M0,0 C200,100 400,100 600,50 C800,0 1000,50 1200,100 C1400,150 1600,150 1600,150 L0,150 Z" fill-rule="evenodd" clip-rule="evenodd"/%3E%3C/svg%3E');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}
